<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="{{ path('app_main') }}">
            ResaLab
        </a>

        <a class="nav-link" href="{{ path('admin_resource_new') }}">
            Ajouter une ressource
        </a>
    </div>
</nav>
