{% extends 'base.html.twig' %}

{% block title %}A propos de Resalab{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>A propos de Resalab</h1>
        <p>
            Bienvenue sur ResaLab, votre plateforme dédiée à la gestion et à la réservation de ressources de laboratoire.
            Notre mission est de simplifier l'accès aux équipements et aux espaces de travail pour les chercheurs,
            les étudiants et les professionnels, en optimisant l'utilisation des infrastructures.
        </p>
        <p>
            Que vous ayez besoin d'un microscope de pointe, d'une salle de conférence équipée, ou d'un banc d'essai spécifique,
            ResaLab vous offre une interface intuitive pour trouver, réserver et gérer vos ressources en toute simplicité.
        </p>
        <p>
            Nous nous engageons à fournir un service fiable et efficace pour soutenir l'innovation et la recherche.
        </p>
    </div>
{% endblock %}
