{% extends 'base.html.twig' %}

{% block title %}Contactez-nous{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Contactez-nous</h1>
        <p>
        Pour toute question, suggestion ou demande d'assistance, n'hésitez pas à nous contacter.
        Notre équipe est à votre disposition pour vous aider.
        </p>
        <p>
            Vous pouvez nous joindre par email à : <a href="mailto:contact@resalab.com">contact@resalab.com</a>
        </p>
        <p>
            Ou par téléphone au : +33 1 23 45 67 89
        </p>
        <p>
            Notre adresse :<br>
            ResaLab Siège Social<br>
            123 Rue de l'Innovation<br>
            75000 Paris, France
        </p>
    </div>
{% endblock %}
