{% extends 'base.html.twig' %}

{% block title %}Accueil - ResaLab{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">Bienvenue sur {{ project_name }} !</h1>
                <p class="col-md-8 fs-4">
                    Votre plateforme centralisée pour la réservation de ressources et d'équipements de laboratoire.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
