{% extends 'base.html.twig' %}

{% block title %}Nouvelle Réservation{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="text-center mb-4">Créer une nouvelle réservation</h1>

        <div class="row justify-content-center">
            <div class="col-md-8">
                {{ include('reservation/_form.html.twig') }}

                <div class="text-center mt-3">
                    <a href="{{ path('app_reservation_index') }}" class="btn btn-secondary btn-lg">Retour à la liste</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
