<footer class="footer mt-auto py-3 bg-light">
    <div class="container text-center">
        <span class="text-muted">&copy; {{ "now"|date('Y') }} Resalab. Tous droits réservés</span>
        <span class="text-muted mx-2">|</span>
        <a href="{{ path('app_about') }}" class="text-muted">À propos</a>
        <span class="text-muted mx-2">|</span>
        <a href="{{ path('app_contact') }}" class="text-muted">Contact</a>
    </div>
</footer>
